<div class="row">
    <div class='form-bkg'>
     <%= form_for(@beer) do |f| %>
      <% if @beer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@beer.errors.count, "error") %> prohibited this beer from being saved:</h2>

          <ul>
          <% @beer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
            <%= f.label :brewery %><br>
            <%= f.text_field :brewery, autocomplete: "on", class: 'form-control' %>
      </div>
      <div class="form-group">
            <%= f.label :name %><br>
            <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
            <%= f.label 'Year Brewed' %><br>
            <%= f.number_field :brewyear, class: 'form-control' %>
      </div>
      <div class="form-group">
            <%= f.label :size %><br>
            <%= f.text_field :size, class: 'form-control' %>
      </div>
      <div class="form-group">
            <%= f.label :quantity %><br>
            <%= f.number_field :quantity, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit "Submit", class: 'btn btn-primary' %>
      </div>
    <% end %>
    </div>
</div>