<h1 class='page-title'>Your Cellar</h1>

<% if user_signed_in? %>
    <% @beers.each do |beer| %>
        <div class='beer-item'>
            <h3><%= "#{beer.brewery} #{beer.name}"%></h3>
            <ul>
                <li><%= "Size: #{beer.size} oz." %></li>
                <li><%= "#{beer.quantity} left" %></li>
                <li><%= "Brewed in #{beer.brewyear}" %></li>
                <li>Added <%= l beer.created_at, format: :long %></li>
                <li><%= link_to 'Edit', edit_beer_path(beer) %></li>
            </ul>
        </div>
    <% end %>
<% end %>
<br>
