<h1>Your Cellar</h1>

<% if user_signed_in? %>
    <% @beers.each do |beer| %>
        <div class='beer-item'>
            <h3><%= "#{beer.brewery} #{beer.name}"%></h3>
            <ul>
                <li><%= "#{beer.size} oz." %></li>
                <li><%= "#{beer.quantity} left" %></li>
            </ul>
        </div>
    <% end %>
<% end %>
<br>
<% if user_signed_in? %>
    <%= link_to 'New Beer', new_beer_path %>
    <br>
    <%= link_to 'Signout', destroy_user_session_path, :method => :delete %>
<% end %>